#apprentis-liste input[type="radio"],
#apprentis-liste input[type="checkbox"]
 {
    vertical-align: middle;
}

body {
    cursor: default;
}

div > label {
    display: inline-block;
    width: 6rem;
}
input[type="number"] {
    background-color: white !important;
}

input[type="radio"] + label {
    display: inline-block;
    width: 2rem !important;
}
input[type="radio"] {
    vertical-align: middle;
}
/* fieldset {
    display: inline-block;
} */